<palign=
<ahref=
</p>=
[circleci-image]:https://img.shields.io/circleci/build/github/nestjs/nest/master?token=
[circleci-url]:https://circleci.com/gh/nestjs/nest=
<palign=
<palign=
<ahref=
<ahref=
<ahref=
<ahref=
<ahref=
<ahref=
<ahref=
<ahref=
<ahref=
<ahref=
<ahref=
</p>=
<!--[![BackersonOpenCollective](https://opencollective.com/nest/backers/badge.svg)](https://opencollective.com/nest#backer)=
[![SponsorsonOpenCollective](https://opencollective.com/nest/sponsors/badge.svg)](https://opencollective.com/nest#sponsor)-->=
##Description=
[Nest](https://github.com/nestjs/nest)frameworkTypeScriptstarterrepository.=
##Installation=
```bash=
$npminstall=
```=
##Runningtheapp=
-NB:Kindlycreate`env`baseonthevaluesin`env.example`=
```bash=
#development=
$npmrunstart=
#watchmode=
$npmrunstart:dev=
#productionmode=
$npmrunstart:prod=
```=
##Test=
```bash=
#unittests=
$npmruntest=
#e2etests=
$npmruntest:e2e=
#testcoverage=
$npmruntest:cov=
```=
##Support=
NestisanMIT-licensedopensourceproject.Itcangrowthankstothesponsorsandsupportbytheamazingbackers.Ifyou'dliketojointhem,please[readmorehere](https://docs.nestjs.com/support).=
##License=
Nestis[MITlicensed](https://github.com/nestjs/nest/blob/master/LICENSE).=