DB_HOST=localhost
DB_PORT=55000
DB_USERNAME=postgres
DB_PASSWORD=postgrespw
DB_NAME=transaction_service
NODE_ENV=development
APP_PORT=9090
RATE_SERVICE_API_KEY=sk_test_10nG34xx3Yvm0XvvZBF2HKsnaL8JZb71 //https://app.thepetra.co/